<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715487975765-g7bh7g0qdbhfuirops774ku4c3rbt2n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715487975765-g7bh7g0qdbhfuirops774ku4c3rbt2n4</string>
	<key>API_KEY</key>
	<string>AIzaSyBgOkxF8VYDvMZPg1qcAOY1FyoJJyE9WI8</string>
	<key>GCM_SENDER_ID</key>
	<string>715487975765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Infantemteam.Registration</string>
	<key>PROJECT_ID</key>
	<string>registration-c0966</string>
	<key>STORAGE_BUCKET</key>
	<string>registration-c0966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715487975765:ios:bdfee9cff14600c7b077dc</string>
</dict>
</plist>